.posts {
  margin-top: 5px;
        color: rgb(73, 121, 209);
        padding-left: 20px;
        border: rgb(217, 217, 218) solid 1px;
        background-color: rgb(255, 255, 255);
  }

  .input-post {
          display: grid;
          grid-template-columns: min-content min-content;
  }

  .input-post input {
        width: 300px;
  }

  .input-post button {
          width: 80px;
          margin-left: 15px;
  }