.posts {
        color: rgb(33, 100, 223);
        padding: 20px;
        box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0,0,0,0.2);
        border-radius: 3px;
  }

.input-post {
        display: grid;
        grid-template-columns: min-content min-content;
}

  .input-post input {
        width: 300px;
  }

  .input-post button {
          width: 80px;
          height: 30px;
          margin-left: 15px;
          border: none;
          background-color: rgb(102, 161, 238);
          border-radius: 5px;
          color: white;
  }

  .input-post button:hover {
        transform: scale(1.1, 1.1);
  }