.dialogs-header {
        display: grid;
        grid-template-columns: max-content min-content;
        height: 50px;
        align-items: center;
        padding: 0 20px 0 20px ;
        justify-content: space-between;
        border-bottom: rgb(83, 83, 83) solid 1px;
}
.dialogs-header-user {
        font-size: 16px;
        font-weight: 500;
        color: rgb(83, 83, 83);
}
.dialogs-header-online {
        color: rgb(19, 185, 46);
        font-weight: 600;
        font-size: 13px;
}