.nav {
        padding-top: 20px;
      }

.item {
        display: flex;
        padding: 10px 0 10px 0;
        align-items: center;
        justify-self: center;
}
.item:hover {
        transition: .2s;
        font-weight: 600;
}

.item a {
        color:  rgba(65, 65, 65, 0.9);
        font-size: 18px;
        padding-left: 5px;
        text-decoration: none;        
}

.active-link {
        color: rgb(235, 243, 243);
}