.required {
        border-radius: 3px;
        padding: 10px;
        margin: 10px;
        width: 250px;
        background-color: rgb(221, 48, 48);
        font-weight: 550;
        text-align: center;
        color: white;
}