.header {
        position: fixed;
        width: 100%;
        background-color: rgb(102, 161, 238);
        height: 50px;
        box-shadow: 0.2rem 0.2rem 0.2rem 0rem rgba(0,0,0,0.2);
        display: grid;
        align-items: center;
        top: 0
      }

.header-content {
        padding: 0 calc(50% - 31.25rem) 0 calc(50% - 31.25rem);
        display: grid;
        grid-template-columns: min-content max-content min-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
      
.header img {
        height: 40px;
}

.login-blok-button {
        border: none;
        height: 40px;
        width: min-content;
        padding: 0 10px 0 10px;
        font-size: 13px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        display: flex;
        align-items: center;
}


.login-button:hover {
        transition: .2s;
        background-color: rgb(255, 67, 67);
        color: white;
        font-weight: 600;
}

.login-button {
        margin-left: 5px;
        height: 25px;
        width: 60px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: rgb(58, 58, 58);
        border-radius: 5px;
}