.nav {
        grid-area: b;
        background-color: aqua;
      }


.item a {
        color: rgb(190, 99, 99);
        font-size: 20px;
        padding-left: 20px;
        text-decoration: none;
        
}

.active-link {
        color: rgb(235, 243, 243);
}