.nav {
        grid-area: b;
        background-color: rgb(229, 237, 245);
        padding-top: 20px;
        height: 100vh; 
        margin: 2px;
        border:rgb(141, 141, 141) solid 1px;
        border-radius: 3px;
      }

.item {
        display: flex;
        padding: 10px 0 10px 0;
        align-items: center;
        justify-self: center;
}


.item:hover {
        background-color:  rgba(201, 201, 201, 0.9);;
}

.item a {
        color:  rgba(65, 65, 65, 0.9);
        font-size: 20px;
        padding-left: 20px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        
}

.active-link {
        color: rgb(235, 243, 243);
}