.nav {
        grid-area: b;
        background-color: rgb(194, 225, 255);
        padding-top: 20px;
      }

.item {
        padding-bottom: 20px;
}


.item a {
        color: rgb(190, 99, 99);
        font-size: 20px;
        padding-left: 20px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        
}

.active-link {
        color: rgb(235, 243, 243);
}