.message-item {
        padding: 15px 20px 10px 20px;
        margin: 10px;
        display: grid;
        grid-template-rows: 8fr 2fr;
        background-color: rgb(224, 224, 224);
        width: max-content;
        border-radius: 30px;
        font-family: Arial, Helvetica, sans-serif;
}

.add-message input{
        border: none;
        border-radius: 5px;
        height: 30px;
        padding: 0 20px 0 20px;
}

.add-message button {
        border: none;
        background-color: rgb(185, 185, 185);
        color: honeydew;
        margin-left: 30px;
        height: 30px;
        width: 80px;
        border-radius: 8px;
}