.message-item {
        padding: 10px 20px 5px 20px;
        margin: 10px 0 15px 20px;
        display: grid;
        grid-template-rows: 8fr 2fr;
        background-color: rgb(250, 250, 250);
        width: max-content;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        border:rgb(217, 217, 218) solid 1px;
}
.add-message input{
        border: none;
        border-radius: 8px;
        height: 30px;
        padding: 0 20px 0 20px;
}

.add-message button {
        border: none;
        background-color: rgb(185, 185, 185);
        color: honeydew;
        margin-left: 30px;
        height: 30px;
        width: 80px;
        border-radius: 8px;
        border:rgb(217, 217, 218) solid 1px;
}