.post {
  color: blue;
  padding: 10px 0 10px 0;
  display: grid;
  align-items: center;
  border: rgb(217, 217, 218) solid 1px;
  border-radius: 3px;
  margin: 15px 10px 15px 0;
  background-color: rgb(241, 252, 255);
  }

.avatar {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        font-size: 16px;
        color: rgb(66, 66, 66);
        font-family: Arial, Helvetica, sans-serif;
}

.avatar img {
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.post-message {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.like {
        display: flex;
        justify-self: flex-end;
        align-items: center;
        margin-right: 10px;
        color: rgb(131, 131, 131);
        font-size: 15px;
        
}