.profile {
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0,0,0,0.2);
        padding: 20px;
}
.description {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 700px;
}
.ava {
        display: grid;
        justify-self: center;
        width: 180px;
        height: 180px;
        margin: 20px;
        border-radius: 90px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.profile-info-button {
        margin-left: 180px;
        height: 30px;
        width: 125px;
        border: none;
        background-color: rgb(102, 161, 238);
        border-radius: 5px;
        color: white;
}
.profile-info-button:hover {
        transform: scale(1.1, 1.1);
}

.profile-status {
        padding-top: 10px;
        font-size: 15px;
        color:  rgb(65, 65, 65);
        border-top: rgb(131, 131, 131) solid 1px;
}
.line {
        margin: 0 15px 0 15px;
        height: 0px;
        color:  rgb(65, 65, 65);
}
.photosProfile {
        margin: 10px;
}
.photos-profile {
        display: flex;
        justify-content: center;
}

.photos-profile input {
        margin: 10px 0 10px 0;
        height: 0.1px;
        width: 0.1px;
        overflow: hidden;
        opacity: 0;
}

.photos-profile label {
        color: white !important;
        background-color: rgb(102, 161, 238);
        margin: 0 10px 10px 10px;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        font-size: 14px;
}

.photos-profile label:hover {
        transform: scale(1.05, 1.05);
}

.profile-status-change {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-gap: 10px;
}

.profile-status-change button {
        border: none;
        background-color: rgb(102, 161, 238);
        border-radius: 5px;
        color: white;
}
.profile-status-change button:hover {
        transform: scale(1.05, 1.05);
}

