.login-user-item {
        padding: 10px;
       
}

.login-user-item button {
        width: 120px;
        height: 30px;
        background-color: rgb(102, 161, 238);
        color: white !important;
        border: none;
        border-radius: 5px;
}
.login-user-item button:hover {
        transform: scale(1.05, 1.05);
}

.login-user-window {
        margin: 100px;
        text-align: center;
        width: 600px;
        border-radius: 5px;
        color:rgb(92, 91, 91);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        height: max-content;
}

.login-user {
        margin: 50px;
        font-size: 16px;
        text-align: start;
}

.login-user-input {
        width: 300px;
}

.login-error {
        border-radius: 3px;
        padding: 10px;
        margin: 10px;
        width: 250px;
        background-color: rgb(221, 48, 48);
        font-weight: 550;
        text-align: center;
        color: white;
}

.captcha img {
        height: 50px;
}