* {
        font-family: 'Open Sans', sans-serif !important;
        color: rgb(80, 80, 80);
    }

.app-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 200px 10fr;
  grid-template-areas: 
  'a a'
  'b c';
  grid-gap: 10px;
  margin: 0px;
  padding: 0px;  
  height: 100vh;
}

.content {
  padding: 0 calc(50% - 31.25rem) 0 calc(50% - 31.25rem);
  box-sizing: border-box;
}


