* {
        font-family: 'Open Sans', sans-serif !important;
        color: rgb(80, 80, 80);
    }

.app-wrapper {
  /* display: grid;
  grid-template-rows: min-content 1fr;
  grid-gap: 10px; */
  margin: 0px;
  padding: 0px;  
  height: 100vh;
}

.content-page {
        display: grid;
        grid-template-columns: 180px 1fr;
        padding: 60px calc(50% - 31.25rem) 8px calc(50% - 31.25rem);
        box-sizing: border-box;
        height: 100%;
}


