.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 10fr;
  grid-template-areas: 
  'a a'
  'b c';
  margin: 0px;
  padding: 0px;
}

/* .content-board{
        grid-area: a;
} */

.content {
  padding: 0 calc(50% - 31.25rem) 0 calc(50% - 31.25rem);
  box-sizing: border-box;
  margin: 2px;
}


